:root {
	--black: #000;
	--white: #fff;
	--orange: #ec7c26;
	--padding-basic: 2rem;
	--margin-bottom-p: 1.5rem;
	--arrow-size: 2rem;
	--indicator-size: 6px;
	--max-indicators: 6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1em;
	line-height: 1.4;
	scroll-behavior: smooth;
	color: var(--black);
	font-family: Arial, sans-serif;
}

:focus {
	outline: 2px solid var(--orange);
	border-radius: 0.2rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Standaard */

body {
	background-color: #fff;
}

img {
	width: 100%;
	height: auto;
	max-width: 30rem;
}

main {
	padding: var(--padding-basic);
}

p {
	max-width: 30rem;
}

h2 {
	width: 100vw;
	height: 4rem;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	background-color: var(--orange);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3rem 0 2rem -2rem;
}

ul {
	list-style: none;
}

/* Header */

header {
	height: 5rem;
	width: 100%;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	clip-path: inset(0 0 -10px);
	box-shadow: 0 0 6px 0 rgb(0, 0, 0);
	position: relative;
	z-index: 1;
	background-color: #fff;
}

.logo-header {
	height: 3rem;
	width: auto;
}

/* Hamburger menu */

.hamburger-menu {
	border: none;
	background: none;
	height: 3rem;
	width: 2rem;
	position: absolute;
	right: var(--padding-basic);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
}

.hamburger-menu-line {
	display: block;
	position: relative;
	height: 5px;
	width: 2rem;
	background-color: var(--orange);
	border-radius: 0.5rem;
}

/* Navigatie */

nav {
	position: absolute;
	transform: translateY(-100%);
	transition: 0.7s ease-in;
	right: 1px;
	min-width: 40%;
}

.nav-show {
	display: block;
	transform: translateY(0);
	transition: 0.7s ease-out;
}

.nav-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.nav-item {
	border: solid 1px #000;
	padding: 0.75rem 0.5rem;
	background-color: #fff;
}

.nav-item:hover {
	cursor: pointer;
	color: var(--orange);
	font-weight: 700;
}

/* Start */

section:nth-of-type(1) {
	margin-bottom: 2rem;
}

.intro-pic {
	margin-bottom: 1rem;
}

h1 {
	color: var(--orange);
	font-size: 2rem;
	text-align: center;
	text-shadow: 1px 1px rgb(0, 0, 0);
}

/* Intro */

.intro p {
	margin-bottom: 1rem;
}

.intro p:last-of-type {
	margin-bottom: var(--margin-bottom-p);
}

.offerte-button {
	height: 3rem;
	width: 10rem;
	border: solid 3px var(--orange);
	background-color: var(--black);
	color: var(--orange);
	font-weight: 700;
	text-decoration: none;
	border-radius: 0.3rem;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}

.offerte-button:hover {
	cursor: pointer;
	scale: 1.1;
}

/* Projects */

.projects img {
	object-fit: cover;
}

.carousel {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.carousel-a {
	display: flex;
	overflow: auto;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	align-items: center;
	text-decoration: none;
}

.carousel-a::before, .carousel-a::after {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	background: #fff;
	color: var(--orange);
	font-size: 2rem;
	font-weight: 600;
	opacity: 0.5;
	border-radius: 50%;
	height: var(--arrow-size);
	flex: 0 0 var(--arrow-size);
	transition: opacity 0.2s ease-out;
}

.carousel-a::before {
	content: '<';
	left: 1rem;
	margin-right: calc(var(--arrow-size) * -1);
}

.carousel-a::after {
	content: '>';
	right: 1rem;
	margin-left: calc(var(--arrow-size) * -1);
}

.carousel-a:hover::before, .carousel-a:hover::after, .carousel-a:focus::before, .carousel-a:focus::after {
	opacity: 1;
}

.carousel-picture {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100%;
	scroll-snap-align: center;
}

.carousel-img {
	object-fit: cover;
}

.carousel-indicator {
	position: absolute;
	left: auto;
	right: auto;
	max-width: calc(var(--max-indicators) * var(--indicator-size) + (var(--max-indicators) - 1) * var(--indicator-size) / 2);
	pointer-events: none;
}

.carousel-indicator-span {
	display: flex;
	gap: calc(var(--indicator-size) / 2);
	height: calc(var(--indicator-size));
}

.carousel-indicator-span-span {
	flex: 0 0 var(--indicator-size);
	width: var(--indicator-size);
	height: var(--indicator-size);
	border-radius: 50%;
	background: #fff;
	opacity: 0.5;
	transition: opacity 0.2s ease-out;
}

.carousel-indicator-span-span.is-active {
	opacity: 1;
}

/* About */

.about p {
	margin-bottom: 1rem;
}

.about p:last-of-type {
	margin-bottom: var(--margin-bottom-p);
}

/* Footer */

footer {
	background-color: var(--black);
	padding: var(--padding-basic);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
}

.footer-menu {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.footer-menu li {
	color: var(--white);
}

.footer-menu li:hover {
	cursor: pointer;
	color: var(--orange);
	font-weight: 700;
}

.social-icons {
	color: #fff;
}

.social-icons img {
	width: 3rem;
	height: auto;
	transition: 0.5s;
}

.social-icons img:hover {
	cursor: pointer;
	scale: 1.1;
}

footer p {
	color: var(--white);
	margin-bottom: 0;
}


/* Medium screen */
@media (min-width: 545px) {
	section {
		background-color: hotpink;
	}
}

/* Large screen */
@media (min-width: 1280px) {
	section {
		background-color: aqua;
	}
}
