:root {
    --black: #000;
    --white: #fff;
    --orange: #EC7C26;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: var(--black);
}

:focus {
    outline: 2px solid var(--orange);
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}